.content-container-sponsors-wrap{
    grid-area: spons;
    background: #fff;
    display: grid;
    grid-template-columns: repeat( 6, 1fr);
    margin-top: -3px;
}
.sponsors__item{
    background: #fff;
    border:1px solid grey;
    border-top: none;
    height: 170px;
    background-size: contain;
    background-position: center;
}
.item-1{
    background: url(~/imgs/sponsor-1.png) no-repeat center center;
}
.item-2{
    background: url(~/imgs/sponsor-2.png) no-repeat center center;
}
.item-3{
    background: url(~/imgs/sponsor-3.png) no-repeat center center;
}
.item-4{
    background: url(~/imgs/sponsor-2.png) no-repeat center center;
}
.item-5{
    background: url(~/imgs/sponsor-3.png) no-repeat center center;
}
.item-6{
    background: url(~/imgs/sponsor-1.png) no-repeat center center;
}
.item-7{
    background: url(~/imgs/sponsor-2.png) no-repeat center center;
}
.item-8{
    background: url(~/imgs/sponsor-1.png) no-repeat center center;
}
.item-9{
    background: url(~/imgs/sponsor-3.png) no-repeat center center;
}
.item-10{
    background: url(~/imgs/sponsor-2.png) no-repeat center center;
}
.item-11{
    background: url(~/imgs/sponsor-1.png) no-repeat center center;
}
.item-12{
    background: url(~/imgs/sponsor-3.png) no-repeat center center;
}