.content-container-products{
    background: #fff;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.content-container-products a{
    text-decoration: none;
}
.content-container-products a:hover{
    text-decoration: underline;
}
.content-container-products img{
    width: 90%;
    height: auto;
}
.content-container-products .product-name{
    color:#0d2e57;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    margin-top: 20px;
}
.content-container-products .worth{
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}
.content-container-products .after{
    color:  #3753da;
    font-weight: 600;
}
.content-container-products .before{
    margin-left: 10px;
    font-size: .7em;
}
.boot-1{
    grid-area: boot-1;
}
.boot-2{
    grid-area: boot-2;
}
.boot-3{
    grid-area: boot-3;
}
.boot-4{
    grid-area: boot-4;
}
.glass-1{
    grid-area: glass-1;
}
.watch{
    grid-area: watch;
}
        .watch img{
            width: 65%;
        }
.boot-5{
    grid-area: boot-5;
}
.boot-6{
    grid-area: boot-6;
}
.boot-7{
    grid-area: boot-7;
}


/* BANNERS */
.content-container-products__banner-1 {
    background: #232323;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.content-container-products__banner-1 h3{
    font-family: 'Poppins', sans-serif;
    font-size: 2.2em;
    margin:0 0 0 12px;
}
.content-container-products__banner-1 p{
    font-family: 'Montserrat', sans-serif;
    max-width: 95%;
}
.content-container-products__banner-1 button{
    font-family: 'Poppins', sans-serif;
    background: #3b52db;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    color:white;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    transition: all .2s;
}
.content-container-products__banner-1 button:hover{
    background: #07145e;
}
.ban-1{
    grid-area: ban-1;
}

.content-container-products__banner-2{
    background: url(~/imgs/sportsmen-4.png);
    background-size: cover;
    background-position: center;
}
.content-container-products__banner-2 h3{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    font-size: 3em;
    margin: 30px 0 0 30px;
    line-height: 1;
}
.content-container-products__banner-2 button{
    background: #61ccfe;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin: 32px 0 0 35px;
    cursor: pointer;
    transition: all 0.2s;
}
.content-container-products__banner-2 button:hover{
    background: #1493ce;
}
.ban-2{
    grid-area: ban-2;
}


