.footer-container-actions-wrap-search{
    margin:20px 40px 0 0;
}
.footer-container-actions-wrap-search h3{
    margin: 0;
}
.footer-container-actions-wrap-search form{
    margin: 15px 0 0 0;
}
.footer-container-actions-wrap-search input{
    background: #2f2f2f;
    border:none;
    border-radius: 20px;
    color: #fff;
    padding: 2px;
}
.footer-container-actions-wrap-search button{
    margin: 20px 0 0 0;
    background: #3a52da;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    padding: 10px 18px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8em;
}.footer-container-actions-wrap-search button:hover{
    background: #142583;
}