.freetrail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}




/* MEDIA */


@media (min-width: 768px) {
    .freetrail-container{
        flex-direction: row;
        align-items: center;

    }
    
}



@media (min-width: 1200px) {

}