.header-container-content{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
 position: relative;
}






/* MEDIA */


@media (min-width: 768px) {
    .header-container-content{
        display: flex;
        flex-direction: row;
       }
       
}



@media (min-width: 1200px) {

}